.container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    
}

.top-banner {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #1F2937;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}


.links {
    display:flex;
    gap: 32px;
    font-size: 18px;

}

li {
    list-style: none;
}

a {
    text-decoration:none;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;
    color: #E5E7EB;
    
}

.sign-up.top-container{
    padding: 5px 15px;
    margin: 0;
    background-color: #3882F6;
    border-radius: 5px;
    border-style: none;
    
}

h2 {
    font-size: 32px;

}

.left {
    flex-wrap: wrap;
    font-size: 18px;
    width: 380px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(134, 134, 134);
    gap: 5px;
    width:500px
}

p {
    margin: 10px 0px;
    color:#E5E7EB;
}

.info-banner {
    padding-left: 100px;
    padding-right: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-pics {
    display: flex;
    padding-left: 0px;
    gap: 32px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.pic {
    display: flex;
    width: 122px;
    height: 122px;
    flex:1;
    border: 4px solid #3882F6;
    border-radius: 10px;
    
}

.pic-info {
    text-align: center;
    width: 130px;
    height: 130px;
    margin-right: 0px;
    padding-top: 10px;
}

.inspiring-quote {
    display: flex;
    padding: 100px;
    background-color: #E5E7EB;
    flex-direction: column;
    align-items: center;
}

.the-quote {
    display: flex;
    width: 750px;
    flex-direction: column;
    font-size: 36px;
    font-style: italic;
    color: #1F2937
}

#quote-credits {
    align-self: flex-end;
    padding-top: 16px;
    font-style: normal;
    font-size: 24px;
    font-weight: 600;
    padding-right: 40px;

}

.call-to-action {
    padding:100px 200px;
}

.action-content {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 50px;
    background-color: #3882F6;
    border-radius: 8px;
    color:#F9FAF8;5
}

.action-right {
    align-self: center;
    justify-self: center;
}

.action-div {
    color:#E5E7EB;
}

h3 {
    margin: 5px 0px;
    font-weight: 800;
}

.sign-up.call-to-action {
    padding: 5px 10px;
    width: auto;
    background-color: #3882F6;
    border-radius: 8px;
    border-style: solid;
    border-color:#F9FAF8;
    color: #F9FAF8;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: #1F2937;
    color:#E5E7EB;
    font-weight: 800;
}

.title {
    font-size: 48px;
    font-weight: 800;
    margin: 10px 0px;
    color: #F9FAF8;
}
